body {
    background-color: #f3c8e1;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
}
nav {
    background-color: #f4b7f5;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}
img.tw-user-small {
    height: 40px;
}
 
img.tw-user-medium {
    height: 50px;
}
 
#nav-search {
    border-radius: 20px;
    background-color: #e7ecf0
}
 
#nav-tweet-btn {
    border-radius: 20px;
    background-color: #1d9bf0;
    color: #ffffff;
}
#submit{
  background-color: #df34e8;
  margin: 0px,0px,0px,12px;
  padding: 4px 16px;
  border-radius: 15px;
  border: none;
  color: #f5f1f1;
  margin-left: 300px;
  }
#submit:hover {background-color: #dc9aed}

#tweet-data{
    margin-bottom: 20px;
}

#addpotstweet{
    margin-right: 40px;
}
#message{
    outline : none;
    border : none;
    width: 100%;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 50px;
    word-wrap: break-word;
}
#name{
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}
#email{
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}
#button-{
    margin-right: 2cm;
    /* float: right; */
    outline : none;
    border : none;

}
#add-post{
    font-size: 28px;
    border-radius: 8px;
    margin: center;
}
.content-box {
    /* background-color: #ffffff; */
    margin-bottom :10px;
}
.new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tweet {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
    margin-top: 10px;
}
 
.tweet-username {
    font-weight: bold;
}
.tweet-usertag text-muted{
    font-size: medium;
}
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text{
    width: 380px; 
    word-wrap: break-word;
    font-size: x-large;
}
.tweet-media {
    padding-right: 10px;
}

.btn-outline-secondary{
    border-radius: 50%;
    margin-left: 380px;
}

/* outline : none; */
/* border : none; */