body {
    background-color: rgb(248, 241, 248);
	margin: 0px 25px 0px 70px ;
}
.row {
	display: flex;
}
.column {
	flex: 30%;
	padding: 10px;
	height: 450px;
}
.column2 {
	flex: 70%;
	padding: 10px;
}
h1 {
    color: white;
    text-align: center; 
    font-size: 45px;
}
h2 {
    color: white;
    text-align: center; 
}
h3 {
    color: rgb(17, 17, 17);
}
.h3-2 { /* ชื่อหัวข้อตารางสอบ */
	background-color: black;
	color: rgb(247, 243, 246);
    text-align: center; 
	padding: 15px;
}
table {
	border-spacing: 0px; /* เส้นชิด ไม่มีช่องในตาราง */ 
}
.table-2 th{ /* ตารางสอบ */
	width: 20%;
	border: 1px solid black;
	border-collapse: collapse;
	left: 50px;
}
.table-3 { /* ตารางแรก ตารางบนให้กว้างเต็มจอ */
	width: 100%;
}
.th-2 { /* สีในตารางสอบ */
	background-color: rgb(159, 162, 162);
}
a {
	color: black;
	text-decoration: none;
}
img {
	width:25px;
	height:25px;
}
.img-2 { 
	width:30px;
	height:30px;	
}
header {
	background-color: black;
	padding: 10px;
	text-align: center; 
	color: white;
}
footer {
	background-color: black;
	padding: 5px;
	text-align: center;
  	color: white;
  	
}

